---
import Layout from "../../layouts/Layout.astro";
export const prerender = true;
export function getStaticPaths() {
  return [{ params: { lang: "es" } }, { params: { lang: "en" } }];
}
const lang = Astro.params.lang || "es";
---

<Layout lang={lang}>
  <h1 class="text-xl md:text-3xl lg:text-5xl text-secondary-color">
    Hola mundo
  </h1>
</Layout>
